/*!
Theme Name: Orientatiedag HBO 2018
Theme URI: http://underscores.me/
Author: Online Media Koffer
Author URI: https://onlinemediakoffer.nl
Description: Online communication company
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: orientatiedag2018
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

orientatiedag is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'wegwijsdag-icons';
  src: url("./font/wegwijsdag-icons.eot?88578582");
  src: url("./font/wegwijsdag-icons.eot?88578582#iefix") format("embedded-opentype"), url("./font/wegwijsdag-icons.woff?88578582") format("woff"), url("./font/wegwijsdag-icons.ttf?88578582") format("truetype"), url("./font/wegwijsdag-icons.svg?88578582#wegwijsdag-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'brite_scriptregular';
  src: url("./font/britescript-regular-webfont.woff2") format("woff2"), url("./font/britescript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*--------------------------------------------------------------
# Font size mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Font weight mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Transform
--------------------------------------------------------------*/
.text-uppercase, .btn, h1, h2, h3, .row.third h5 {
  text-transform: uppercase; }

/*--------------------------------------------------------------
# Typo standards
--------------------------------------------------------------*/
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media screen and (max-width: 993px) {
    body {
      font-size: 14px; } }
  @media screen and (max-width: 769px) {
    body {
      font-size: 14px; } }

.btn {
  font-weight: 700; }

h1 {
  font-size: 35px;
  line-height: 1;
  font-weight: 500; }
  @media screen and (max-width: 993px) {
    h1 {
      font-size: 30px; } }
  @media screen and (max-width: 769px) {
    h1 {
      font-size: 25px; } }

.home h1, body.page-template-bedank h1, .page-template-orientatiedag h1 {
  font-size: 26px;
  line-height: 1.1; }
  @media screen and (max-width: 993px) {
    .home h1, body.page-template-bedank h1, .page-template-orientatiedag h1 {
      font-size: 24px; } }
  @media screen and (max-width: 769px) {
    .home h1, body.page-template-bedank h1, .page-template-orientatiedag h1 {
      font-size: 20px; } }
  .home h1 .homepageTitle, body.page-template-bedank h1 .homepageTitle, .page-template-orientatiedag h1 .homepageTitle {
    font-family: "brite_scriptregular", sans-serif;
    text-transform: none;
    font-size: 100px;
    line-height: 120px; }
    @media screen and (max-width: 500px) {
      .home h1 .homepageTitle, body.page-template-bedank h1 .homepageTitle, .page-template-orientatiedag h1 .homepageTitle {
        font-size: 55px; } }
    .home h1 .homepageTitle strong, body.page-template-bedank h1 .homepageTitle strong, .page-template-orientatiedag h1 .homepageTitle strong {
      font-weight: 900; }
      @media screen and (max-width: 500px) {
        .home h1 .homepageTitle strong, body.page-template-bedank h1 .homepageTitle strong, .page-template-orientatiedag h1 .homepageTitle strong {
          display: block; } }

h2 {
  font-size: 26px;
  line-height: 1.1;
  font-weight: 500; }
  @media screen and (max-width: 993px) {
    h2 {
      font-size: 24px; } }
  @media screen and (max-width: 769px) {
    h2 {
      font-size: 20px; } }

h3 {
  font-size: 17px;
  line-height: 1;
  font-weight: 700; }
  @media screen and (max-width: 993px) {
    h3 {
      font-size: 17px; } }
  @media screen and (max-width: 769px) {
    h3 {
      font-size: 15px; } }

h4 {
  font-size: 24px;
  line-height: 1;
  font-weight: 500; }
  @media screen and (max-width: 993px) {
    h4 {
      font-size: 22px; } }
  @media screen and (max-width: 769px) {
    h4 {
      font-size: 19px; } }

h5 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500; }
  @media screen and (max-width: 993px) {
    h5 {
      font-size: 17px; } }
  @media screen and (max-width: 769px) {
    h5 {
      font-size: 16px; } }

.row.third h5 {
  font-weight: 700;
  font-size: 40px; }

h6 {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300; }
  @media screen and (max-width: 993px) {
    h6 {
      font-size: 11px; } }
  @media screen and (max-width: 769px) {
    h6 {
      font-size: 10px; } }

p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500; }
  @media screen and (max-width: 993px) {
    p {
      font-size: 14px; } }
  @media screen and (max-width: 769px) {
    p {
      font-size: 14px; } }

.topContent p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  line-height: 1.9; }
  @media screen and (max-width: 993px) {
    .topContent p {
      font-size: 14px; } }
  @media screen and (max-width: 769px) {
    .topContent p {
      font-size: 14px; } }

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 8px 0%; }
  h1 b, h1 bold, h1 strong, h2 b, h2 bold, h2 strong, h3 b, h3 bold, h3 strong, h4 b, h4 bold, h4 strong, h5 b, h5 bold, h5 strong, h6 b, h6 bold, h6 strong, p b, p bold, p strong {
    font-weight: 700; }

/*--------------------------------------------------------------
# Standaarden
--------------------------------------------------------------*/
header.site-header, .site-content, .site-footer {
  padding-left: 100px;
  padding-right: 100px; }
  @media screen and (max-width: 960px) {
    header.site-header, .site-content, .site-footer {
      padding-left: 30px;
      padding-right: 30px; } }
  @media screen and (max-width: 500px) {
    header.site-header, .site-content, .site-footer {
      padding-left: 10px;
      padding-right: 10px; } }

.contentItems {
  display: flex;
  flex-wrap: wrap;
  justify-items: stretch;
  justify-content: space-between; }
  .contentItems .item {
    width: 48%;
    background: #ffffff;
    margin-bottom: 4%;
    display: flex;
    justify-items: stretch; }
    @media screen and (max-width: 500px) {
      .contentItems .item {
        width: 100%; } }
    .contentItems .item.green h3 {
      color: #a7c949; }
    .contentItems .item.green .itemArrow {
      background-color: #a7c949; }
    .contentItems .item.red h3 {
      color: #e94a3a; }
    .contentItems .item.red .itemArrow {
      background-color: #e94a3a; }
    .contentItems .item.orange h3 {
      color: #f5981d; }
    .contentItems .item.orange .itemArrow {
      background-color: #f5981d; }
    .contentItems .item.purple h3 {
      color: #331e8a; }
    .contentItems .item.purple .itemArrow {
      background-color: #331e8a; }
    .contentItems .item .itemArrow {
      min-width: 20px;
      background: #555555;
      position: relative;
      overflow: hidden; }
      .contentItems .item .itemArrow .arrow {
        background: url("./images/arrow.svg") no-repeat;
        background-position: top right;
        position: absolute;
        top: 0;
        right: -1px;
        bottom: -3px;
        left: 0; }
    .contentItems .item .itemContent {
      padding: 22px 34px 30px 14px; }

.menu {
  list-style-type: none; }
  .menu li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px; }
    .menu li a {
      font-family: "Lato", sans-serif;
      font-weight: 700;
      color: #000000;
      text-decoration: none;
      text-transform: uppercase; }

.btn, button {
  background: #ffffff;
  padding: 5px 9px;
  text-decoration: none; }
  .btn.big, button.big {
    padding: 15px 19px; }
  .btn.arrow-right:after, button.arrow-right:after {
    content: '\e802';
    font-family: "wegwijsdag-icons";
    margin-left: 10px; }
  .btn.arrow-left:before, button.arrow-left:before {
    content: '\e800';
    font-family: "wegwijsdag-icons";
    margin-right: 10px; }
  .btn.pink, button.pink {
    color: #ca478c; }
    .btn.pink:hover, button.pink:hover {
      background: #ca478c;
      color: #ffffff;
      cursor: pointer; }
  .btn.yellow, button.yellow {
    color: #e8b22b; }
    .btn.yellow:hover, button.yellow:hover {
      background: #e8b22b;
      color: #ffffff;
      cursor: pointer; }
  .btn.blue, button.blue {
    color: #00b1e7; }
    .btn.blue:hover, button.blue:hover {
      background: #00b1e7;
      color: #ffffff;
      cursor: pointer; }
  .btn.green, button.green {
    color: #a7c949; }
    .btn.green:hover, button.green:hover {
      background: #a7c949;
      color: #ffffff;
      cursor: pointer; }

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.site {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 12px 0px #dad9d9;
  overflow: hidden; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

p {
  color: #575756; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #000000;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #f6f6f6;
  /* Fallback for when there is no custom background color defined. */ }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 0 0; }

ul {
  list-style: disc;
  -webkit-padding-start: 0px; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 0; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit;
  transition: all 0.2s ease-in-out; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header.site-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ffffff; }
  header.site-header:after {
    content: "";
    clear: both;
    display: block; }
  header.site-header .site-branding {
    width: 15.0326797386%;
    float: left;
    margin-right: 1.9607843137%; }
    header.site-header .site-branding a {
      text-decoration: none;
      display: block;
      width: 150px; }
    header.site-header .site-branding img {
      max-height: 100%; }
  header.site-header #site-navigation {
    width: 66.0130718954%;
    float: left;
    margin-right: 1.9607843137%;
    text-align: center;
    margin-top: 37px; }
    @media screen and (max-width: 960px) {
      header.site-header #site-navigation {
        display: none; } }
    header.site-header #site-navigation a:hover {
      border-bottom: 1px solid #f5981d;
      color: #f5981d; }
    header.site-header #site-navigation li.menu-item-114 {
      display: none; }
    header.site-header #site-navigation li.current-menu-item a {
      border-bottom: 1px solid #f5981d;
      color: #f5981d; }
    header.site-header #site-navigation ul.sub-menu {
      display: none; }
  header.site-header .playButtonHeader {
    width: 15.0326797386%;
    float: right;
    margin-right: 0;
    text-align: right; }
    @media screen and (max-width: 960px) {
      header.site-header .playButtonHeader {
        width: 32.0261437908%;
        float: right;
        margin-right: 0; } }
    header.site-header .playButtonHeader a.playButtonHeaderHyperlink {
      display: block;
      height: 70px;
      margin-top: 11px; }
      @media screen and (max-width: 960px) {
        header.site-header .playButtonHeader a.playButtonHeaderHyperlink {
          display: none; } }
      header.site-header .playButtonHeader a.playButtonHeaderHyperlink:hover {
        height: 72px;
        margin-top: 15px;
        margin-left: -1px;
        cursor: pointer; }
      header.site-header .playButtonHeader a.playButtonHeaderHyperlink img {
        max-height: 100%; }
    header.site-header .playButtonHeader .shiftnav-toggle-button {
      display: none;
      color: white;
      margin-top: 23px;
      background: #00b1e7;
      width: 100%;
      font-size: 24px;
      line-height: 1; }
      @media screen and (max-width: 993px) {
        header.site-header .playButtonHeader .shiftnav-toggle-button {
          font-size: 22px; } }
      @media screen and (max-width: 769px) {
        header.site-header .playButtonHeader .shiftnav-toggle-button {
          font-size: 19px; } }
      @media screen and (max-width: 960px) {
        header.site-header .playButtonHeader .shiftnav-toggle-button {
          display: block;
          width: 130px;
          float: right; } }
      @media screen and (max-width: 768px) {
        header.site-header .playButtonHeader .shiftnav-toggle-button {
          width: 110px; } }

.site-content {
  background: url("./images/headers/normal-bg.png") no-repeat center top; }
  .site-content .content-area {
    margin-top: 59px; }
    .site-content .content-area h1 {
      color: #00b1e7; }
    .site-content .content-area .topContent {
      width: 49.0196078431%;
      float: left;
      margin-right: 1.9607843137%; }
      @media screen and (max-width: 768px) {
        .site-content .content-area .topContent {
          width: 66.0130718954%;
          float: left;
          margin-right: 1.9607843137%; } }
      @media screen and (max-width: 500px) {
        .site-content .content-area .topContent {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0; } }
      .site-content .content-area .topContent a {
        color: #00b1e7; }
        .site-content .content-area .topContent a:hover {
          color: #a7c949; }
        .site-content .content-area .topContent a.green:hover {
          color: #ffffff; }
      .site-content .content-area .topContent ul {
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        list-style-type: none;
        color: #575756;
        margin-bottom: 20px; }
        .site-content .content-area .topContent ul li {
          padding-left: 15px; }
          .site-content .content-area .topContent ul li:before {
            content: '+';
            margin-left: -15px;
            margin-right: 10px; }
    .site-content .content-area .rightContent {
      width: 49.0196078431%;
      float: right;
      margin-right: 0;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .site-content .content-area .rightContent {
          width: 32.0261437908%;
          float: right;
          margin-right: 0; } }
      @media screen and (max-width: 500px) {
        .site-content .content-area .rightContent {
          display: none; } }
  .site-content .titleItemWide {
    width: 100%;
    text-align: center;
    margin-bottom: 18px; }

.contentTop {
  background: #ffffff;
  padding: 0px 75px 0px 75px;
  text-align: center; }
  @media screen and (max-width: 900px) {
    .contentTop {
      padding: 0px 0px 0px 0px; } }
  @media screen and (max-width: 960px) {
    .contentTop {
      display: none; } }
  .contentTop .widget-area {
    border-top: 1px solid #f3f3f3; }
  .contentTop .widget {
    margin-bottom: 0px; }
  .contentTop div.subMenu ul {
    margin: 0px;
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px; }
    .contentTop div.subMenu ul li {
      display: inline-block;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px; }
      .contentTop div.subMenu ul li a {
        color: #333333;
        padding: 13px 15px 16px 15px;
        display: inline-block;
        text-decoration: none; }
        .contentTop div.subMenu ul li a b, .contentTop div.subMenu ul li a strong {
          font-weight: 500; }
      .contentTop div.subMenu ul li.current_page_item a,
      .contentTop div.subMenu ul li:hover a {
        background: #ffffff;
        color: #f5981d; }

/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/
.home #content.site-content {
  background: url(./images/homepageCoverBg.png) no-repeat;
  background-size: cover;
  background-position-y: -95px;
  position: relative; }
  @media screen and (max-width: 768px) {
    .home #content.site-content {
      background-position-y: -65px; } }
  @media screen and (max-width: 500px) {
    .home #content.site-content {
      background-size: inherit; } }

.home .homeHeaderPeople {
  height: 400px;
  width: 300px;
  background: url(./images/boerStewardes.png) no-repeat;
  position: absolute;
  top: 10%;
  left: 10%; }
  @media screen and (max-width: 960px) {
    .home .homeHeaderPeople {
      left: 5%; } }
  @media screen and (max-width: 768px) {
    .home .homeHeaderPeople {
      display: none; } }

.home .homepageHeaderButtons {
  margin-left: 40%;
  padding-top: 97px;
  margin-bottom: 220px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .home .homepageHeaderButtons {
      padding-top: 25px;
      margin: 0px auto;
      padding-bottom: 100px; } }
  .home .homepageHeaderButtons .btn-bigButton {
    display: inline-block;
    width: 480px;
    height: 100px; }
    @media screen and (max-width: 768px) {
      .home .homepageHeaderButtons .btn-bigButton {
        width: 90%; } }
  .home .homepageHeaderButtons .btn-ghost {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin-top: 4px;
    padding: 3px 7px;
    text-decoration: none; }
    .home .homepageHeaderButtons .btn-ghost:hover {
      background-color: #ffffff;
      color: #a7c949; }

.home .site-content {
  background: none; }
  .home .site-content .content-area h1 {
    text-align: center;
    color: #000000; }
    @media screen and (max-width: 500px) {
      .home .site-content .content-area h1 {
        margin-top: 100px; } }
    .home .site-content .content-area h1 .homepageTitle {
      display: block;
      color: #f5981d;
      text-shadow: 3px 3px 0px #ef4b3d; }
      .home .site-content .content-area h1 .homepageTitle strong {
        color: #331e8a; }

.home .topContent {
  text-align: center;
  margin: 40px auto 20px auto !important;
  float: none !important; }

.home .homepageContent .homepageStep {
  padding-top: 230px;
  padding-bottom: 150px;
  background: url(./images/stappenBg2.png) center no-repeat;
  background-size: cover; }
  @media screen and (max-width: 500px) {
    .home .homepageContent .homepageStep {
      margin-top: -100px; } }
  .home .homepageContent .homepageStep .left {
    display: block;
    width: 32.0261437908%;
    float: left;
    margin-right: 1.9607843137%;
    margin-left: 8.4967320261%;
    margin-bottom: 170px;
    position: relative; }
    @media screen and (max-width: 500px) {
      .home .homepageContent .homepageStep .left {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin-left: 0%; }
        .home .homepageContent .homepageStep .left h2, .home .homepageContent .homepageStep .left p {
          width: 50%; } }
    .home .homepageContent .homepageStep .left p {
      color: #ffffff; }
  .home .homepageContent .homepageStep .right {
    display: block;
    width: 32.0261437908%;
    float: left;
    margin-right: 1.9607843137%;
    margin-left: 59.477124183%;
    margin-bottom: 100px;
    position: relative; }
    @media screen and (max-width: 500px) {
      .home .homepageContent .homepageStep .right {
        width: 49.0196078431%;
        float: right;
        margin-right: 0;
        margin-left: 0%; } }
    .home .homepageContent .homepageStep .right p {
      color: #ffffff; }
  .home .homepageContent .homepageStep h2 .trans {
    opacity: 0.5; }
  .home .homepageContent .homepageStep h2 strong {
    color: #ffffff; }
  .home .homepageContent .homepageStep .HpArts {
    position: absolute;
    display: block;
    width: 200px;
    margin-left: -200%;
    margin-top: -250px; }
    .home .homepageContent .homepageStep .HpArts img {
      max-width: 100%; }
    @media screen and (max-width: 500px) {
      .home .homepageContent .homepageStep .HpArts {
        margin-left: -102%; } }
  .home .homepageContent .homepageStep .HpBankier {
    position: absolute;
    display: block;
    width: 200px;
    margin-left: 210%;
    margin-top: -230px; }
    .home .homepageContent .homepageStep .HpBankier img {
      max-width: 100%; }
    @media screen and (max-width: 500px) {
      .home .homepageContent .homepageStep .HpBankier {
        margin-left: 60%; } }
  .home .homepageContent .homepageStep .HpArtiest {
    position: absolute;
    display: block;
    width: 200px;
    margin-left: -100%;
    margin-top: -200px; }
    .home .homepageContent .homepageStep .HpArtiest img {
      max-width: 100%; }

.home .homepageContent .contentSection {
  text-align: center;
  background: url(./images/contentFooterBg.jpg) no-repeat;
  background-position: center bottom;
  background-size: 100%;
  padding-top: 80px; }
  @media screen and (max-width: 500px) {
    .home .homepageContent .contentSection {
      padding-top: 40px; } }
  .home .homepageContent .contentSection .profileblock {
    text-align: center;
    margin-top: 70px;
    padding-bottom: 130px; }
    @media screen and (max-width: 550px) {
      .home .homepageContent .contentSection .profileblock {
        padding-bottom: 80px;
        margin-top: 30px; } }
    .home .homepageContent .contentSection .profileblock ul {
      list-style-type: none;
      margin-left: 0px;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em; }
      @media screen and (max-width: 550px) {
        .home .homepageContent .contentSection .profileblock ul {
          margin: 0px 20px; } }
      .home .homepageContent .contentSection .profileblock ul li {
        display: inline-block;
        -webkit-transform: matrix(1.014, -0.451, -0.003, 0.988, 0, 0);
        transform: matrix(1.014, -0.451, -0.003, 0.988, 0, 0); }
        @media screen and (max-width: 550px) {
          .home .homepageContent .contentSection .profileblock ul li {
            display: block; } }
        .home .homepageContent .contentSection .profileblock ul li a {
          text-decoration: none;
          display: inline-block;
          color: #ffffff;
          padding: 10px 35px;
          line-height: 19px;
          margin-left: -47px;
          text-transform: uppercase; }
          @media screen and (max-width: 550px) {
            .home .homepageContent .contentSection .profileblock ul li a {
              margin-left: 0px;
              display: block;
              -webkit-transform: none;
                      transform: none;
              margin-bottom: 10px; } }
          .home .homepageContent .contentSection .profileblock ul li a:hover {
            cursor: pointer; }
          .home .homepageContent .contentSection .profileblock ul li a.green {
            background-color: #a7c949;
            color: #ffffff; }
            .home .homepageContent .contentSection .profileblock ul li a.green:hover {
              background-color: #8cac33; }
          .home .homepageContent .contentSection .profileblock ul li a.blue {
            background-color: #00b1e7;
            color: #ffffff; }
            .home .homepageContent .contentSection .profileblock ul li a.blue:hover {
              background-color: #008ab4; }
          .home .homepageContent .contentSection .profileblock ul li a.pink {
            background-color: #ca478c;
            color: #ffffff; }
            .home .homepageContent .contentSection .profileblock ul li a.pink:hover {
              background-color: #ac3272; }
          .home .homepageContent .contentSection .profileblock ul li a.yellow {
            background-color: #e8b22b;
            color: #ffffff;
            margin-left: -91px; }
            @media screen and (max-width: 550px) {
              .home .homepageContent .contentSection .profileblock ul li a.yellow {
                margin-left: 0px; } }
            .home .homepageContent .contentSection .profileblock ul li a.yellow:hover {
              background-color: #ca9716; }

/*--------------------------------------------------------------
# Workshop keuze pagina
--------------------------------------------------------------*/
.page-template-Workshopkiezen {
  position: relative; }
  .page-template-Workshopkiezen .site-content {
    background: url("./images/headers/workshopheader.png") no-repeat center bottom;
    position: absolute;
    z-index: 9999;
    padding-bottom: 60px;
    max-width: 1200px; }
    @media screen and (max-width: 500px) {
      .page-template-Workshopkiezen .site-content {
        padding-bottom: 90px; } }
    .page-template-Workshopkiezen .site-content article h1 {
      color: #ffffff; }
    .page-template-Workshopkiezen .site-content article h3 {
      color: rgba(0, 0, 0, 0.5); }
    .page-template-Workshopkiezen .site-content article p {
      color: #ffffff; }
  .page-template-Workshopkiezen .workshopSection {
    position: relative;
    z-index: 1; }
    .page-template-Workshopkiezen .workshopSection #workshops {
      width: 74.5098039216%;
      float: right;
      margin-right: 0;
      padding-top: 475px;
      padding-right: 100px; }
      @media screen and (max-width: 960px) {
        .page-template-Workshopkiezen .workshopSection #workshops {
          width: 66.0130718954%;
          float: right;
          margin-right: 0;
          padding-right: 25px;
          padding-left: 25px; } }
      @media screen and (max-width: 768px) {
        .page-template-Workshopkiezen .workshopSection #workshops {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0;
          padding: 20px; } }
      .page-template-Workshopkiezen .workshopSection #workshops h2 {
        width: 100%;
        color: #ffffff;
        margin-left: 10px; }
    .page-template-Workshopkiezen .workshopSection #keuze-sidebar {
      width: 23.5294117647%;
      float: left;
      margin-right: 1.9607843137%;
      padding-top: 475px;
      padding-bottom: 20px; }
      @media screen and (max-width: 960px) {
        .page-template-Workshopkiezen .workshopSection #keuze-sidebar {
          width: 32.0261437908%;
          float: left;
          margin-right: 1.9607843137%; } }
      @media screen and (max-width: 768px) {
        .page-template-Workshopkiezen .workshopSection #keuze-sidebar {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0;
          padding-top: 425px; } }
      @media screen and (max-width: 500px) {
        .page-template-Workshopkiezen .workshopSection #keuze-sidebar {
          padding-top: 400px; } }
      .page-template-Workshopkiezen .workshopSection #keuze-sidebar fieldset {
        border: 0px; }
      .page-template-Workshopkiezen .workshopSection #keuze-sidebar section.keuzeType h3 {
        color: #00b1e7; }
      .page-template-Workshopkiezen .workshopSection #keuze-sidebar section.keuzeSector {
        margin-top: 30px;
        padding-left: 20px; }
        .page-template-Workshopkiezen .workshopSection #keuze-sidebar section.keuzeSector h3 {
          color: #f5981d; }

/*--------------------------------------------------------------
# Formulier pagina
--------------------------------------------------------------*/
.page-template-formulier {
  position: relative; }
  .page-template-formulier .site-content {
    background: url("./images/headers/formulierheader.png") no-repeat center -100px;
    background-size: 100%;
    padding-bottom: 108px; }
    @media screen and (max-width: 1100px) {
      .page-template-formulier .site-content {
        background: url("./images/headers/formulierheader.png") no-repeat center -80px; } }
    @media screen and (max-width: 960px) {
      .page-template-formulier .site-content {
        background: url("./images/headers/formulierheader.png") no-repeat center -80px; } }
    .page-template-formulier .site-content article h1 {
      color: #ffffff; }
    .page-template-formulier .site-content article h3 {
      color: rgba(0, 0, 0, 0.5); }
    .page-template-formulier .site-content article p {
      color: #ffffff; }
    .page-template-formulier .site-content .contentSection {
      margin-top: 30px;
      text-align: center; }
      .page-template-formulier .site-content .contentSection .gform_wrapper {
        width: 75%;
        margin-left: auto;
        margin-right: auto; }
        @media screen and (max-width: 960px) {
          .page-template-formulier .site-content .contentSection .gform_wrapper {
            width: 80%; } }
        @media screen and (max-width: 768px) {
          .page-template-formulier .site-content .contentSection .gform_wrapper {
            width: 80%; } }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
  height: 45px;
  text-indent: 10px;
  border: 1px solid #eae8e8 !important; }

.gform_wrapper ul.gfield_checkbox li input[type=checkbox], .gform_wrapper ul.gfield_radio li input[type=radio] {
  margin-top: 3px !important;
  vertical-align: top !important;
  margin-right: 10px !important; }

.gform_wrapper li.gfield {
  margin-bottom: 20px !important; }
  .gform_wrapper li.gfield .gfield_label {
    padding-top: 12px; }
  .gform_wrapper li.gfield .ginput_container span label {
    display: none !important; }
  .gform_wrapper li.gfield .ginput_container select {
    height: 45px;
    padding-right: 10px;
    background: #ffffff;
    text-indent: 8px;
    color: #666666;
    padding-right: 10px !important; }
  .gform_wrapper li.gfield .ginput_container_address .ginput_full {
    display: block;
    margin-bottom: 5px; }

.gform_wrapper li#field_1_38 {
  padding-bottom: 15px;
  border-bottom: 1px solid #eae8e8; }

.gform_wrapper li.gf_readonly input {
  background: transparent;
  border: 0px !important; }

.gform_wrapper .gfield.workshopslist {
  position: relative;
  padding-left: 30px; }
  .gform_wrapper .gfield.workshopslist span.check {
    background-image: url(././images/workshop-icon-checked.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
    position: absolute;
    top: 3px;
    left: 0px; }

.gform_wrapper .gform_footer input[type="submit"] {
  padding: 27px 27px 27px 27px;
  line-height: 1px; }
  @media only screen and (max-width: 641px) {
    .gform_wrapper .gform_footer input[type="submit"] {
      line-height: 1px !important; } }

.gform_wrapper .gfield_error .gfield_label {
  color: #ffffff !important;
  padding-left: 15px !important;
  font-style: italic; }

div.gfield_description a {
  color: #f5981d; }
  div.gfield_description a:hover, div.gfield_description a:visited {
    color: #f5981d; }

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
  color: #ffffff !important;
  font-style: italic; }

.gform_wrapper li.gfield_error .gfield_required {
  color: #ffffff !important;
  font-style: italic !important;
  font-size: 16px !important;
  padding-top: 0px !important; }

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background-color: rgba(251, 179, 16, 0.76) !important;
  margin-bottom: 6px !important !important;
  border-top: 1px solid #e8b22b !important;
  border-bottom: 1px solid #e8b22b !important; }

.gform_wrapper div.validation_error {
  border-top: 1px solid #e8b22b !important;
  border-bottom: 1px solid #e8b22b !important;
  color: #e8b22b !important; }

#workshop_submitbar button, .gform_button {
  width: 265px;
  height: 31px;
  background-color: #f5981d !important;
  color: #ffffff !important;
  font-family: Lato;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 8px 14px;
  border: 0px !important;
  margin: auto;
  display: block; }

#workshop_submitbar button:hover, .gform_button:hover {
  background-color: #E78715 !important; }

/*--------------------------------------------------------------
# Wegwijsdag pagina
--------------------------------------------------------------*/
.page-template-orientatiedag {
  position: relative; }
  .page-template-orientatiedag .site-content {
    background: url("./images/headers/orientatiedagbanner.png") no-repeat center 0px;
    background-size: 100%;
    padding-bottom: 108px;
    position: relative; }
    @media screen and (max-width: 1024px) {
      .page-template-orientatiedag .site-content {
        background: url("./images/headers/orientatiedagbanner.png") no-repeat center 0px; } }
    @media screen and (max-width: 768px) {
      .page-template-orientatiedag .site-content {
        background: url("./images/headers/orientatiedagbanner.png") no-repeat center 0px; } }
    .page-template-orientatiedag .site-content .HpBankier {
      position: absolute;
      right: 3%;
      top: 290px; }
      @media screen and (max-width: 1000px) {
        .page-template-orientatiedag .site-content .HpBankier {
          display: none; } }
      .page-template-orientatiedag .site-content .HpBankier:nth-child(2) {
        right: 13%;
        -webkit-transform: scaleX(-1);
                transform: scaleX(-1); }
    .page-template-orientatiedag .site-content .content-area {
      margin-top: 150px;
      text-align: center; }
      .page-template-orientatiedag .site-content .content-area article {
        width: 66.0130718954%;
        float: left;
        margin-right: 1.9607843137%;
        margin-left: auto;
        margin-right: auto;
        float: none; }
        @media screen and (max-width: 768px) {
          .page-template-orientatiedag .site-content .content-area article {
            width: 100%;
            float: left;
            margin-left: 0;
            margin-right: 0;
            float: none; } }
      .page-template-orientatiedag .site-content .content-area h1 {
        text-align: center;
        color: #000000; }
        .page-template-orientatiedag .site-content .content-area h1 .homepageTitle {
          display: block;
          color: #f5981d;
          text-shadow: -3px -2px 0px #f6f6f6;
          margin-bottom: 30px; }
          .page-template-orientatiedag .site-content .content-area h1 .homepageTitle strong {
            color: #331e8a; }
      .page-template-orientatiedag .site-content .content-area .topContent {
        width: 100%; }
      .page-template-orientatiedag .site-content .content-area .contentSection {
        margin-top: 50px;
        text-align: left; }
        @media screen and (max-width: 768px) {
          .page-template-orientatiedag .site-content .content-area .contentSection {
            margin-top: 100px; } }
        .page-template-orientatiedag .site-content .content-area .contentSection .quote {
          width: 49.0196078431%;
          float: left;
          margin-right: 1.9607843137%;
          background: #c95c49;
          background: linear-gradient(to bottom, #c95c49 0%, #ed9651 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e3f8e', endColorstr='#00ade6',GradientType=0 ); }
          @media screen and (max-width: 768px) {
            .page-template-orientatiedag .site-content .content-area .contentSection .quote {
              width: 100%;
              float: left;
              margin-left: 0;
              margin-right: 0; } }
          .page-template-orientatiedag .site-content .content-area .contentSection .quote .quoteContent {
            padding: 50px 50px 100px 50px;
            color: #ffffff;
            border: 5px solid white;
            outline: 5px solid orange; }
            @media screen and (max-width: 768px) {
              .page-template-orientatiedag .site-content .content-area .contentSection .quote .quoteContent {
                padding: 30px 50px 30px 50px; } }
            .page-template-orientatiedag .site-content .content-area .contentSection .quote .quoteContent span {
              float: right;
              text-align: right; }
        .page-template-orientatiedag .site-content .content-area .contentSection .todo {
          margin-top: 125px;
          width: 49.0196078431%;
          float: right;
          margin-right: 0; }
          @media screen and (max-width: 768px) {
            .page-template-orientatiedag .site-content .content-area .contentSection .todo {
              width: 100%;
              float: left;
              margin-left: 0;
              margin-right: 0; } }
        .page-template-orientatiedag .site-content .content-area .contentSection .row:after {
          content: "";
          clear: both;
          display: block; }
        .page-template-orientatiedag .site-content .content-area .contentSection .row.second {
          margin-top: 150px; }
          @media screen and (max-width: 768px) {
            .page-template-orientatiedag .site-content .content-area .contentSection .row.second {
              margin-top: 0px; } }
          .page-template-orientatiedag .site-content .content-area .contentSection .row.second .watDoen {
            width: 49.0196078431%;
            float: left;
            margin-right: 1.9607843137%; }
            @media screen and (max-width: 768px) {
              .page-template-orientatiedag .site-content .content-area .contentSection .row.second .watDoen {
                width: 100%;
                float: left;
                margin-left: 0;
                margin-right: 0; } }
          .page-template-orientatiedag .site-content .content-area .contentSection .row.second .speelDeGame {
            width: 49.0196078431%;
            float: right;
            margin-right: 0; }
            @media screen and (max-width: 768px) {
              .page-template-orientatiedag .site-content .content-area .contentSection .row.second .speelDeGame {
                width: 100%;
                float: left;
                margin-left: 0;
                margin-right: 0;
                margin-top: 0px;
                text-align: center; } }
            .page-template-orientatiedag .site-content .content-area .contentSection .row.second .speelDeGame a {
              text-decoration: none;
              margin-left: 50px; }
        .page-template-orientatiedag .site-content .content-area .contentSection .row.third {
          margin-top: 150px; }
          .page-template-orientatiedag .site-content .content-area .contentSection .row.third .stepOne {
            width: 32.0261437908%;
            float: left;
            margin-right: 1.9607843137%; }
            @media screen and (max-width: 768px) {
              .page-template-orientatiedag .site-content .content-area .contentSection .row.third .stepOne {
                width: 100%;
                float: left;
                margin-left: 0;
                margin-right: 0; } }
            .page-template-orientatiedag .site-content .content-area .contentSection .row.third .stepOne p {
              padding-left: 25%;
              padding-top: 20px; }
          .page-template-orientatiedag .site-content .content-area .contentSection .row.third .stepTwo {
            width: 32.0261437908%;
            float: left;
            margin-right: 1.9607843137%; }
            @media screen and (max-width: 768px) {
              .page-template-orientatiedag .site-content .content-area .contentSection .row.third .stepTwo {
                width: 100%;
                float: left;
                margin-left: 0;
                margin-right: 0; } }
            .page-template-orientatiedag .site-content .content-area .contentSection .row.third .stepTwo p {
              padding-left: 25%;
              padding-top: 20px; }
          .page-template-orientatiedag .site-content .content-area .contentSection .row.third .stepThree {
            width: 32.0261437908%;
            float: right;
            margin-right: 0; }
            @media screen and (max-width: 768px) {
              .page-template-orientatiedag .site-content .content-area .contentSection .row.third .stepThree {
                width: 100%;
                float: left;
                margin-left: 0;
                margin-right: 0; } }
            .page-template-orientatiedag .site-content .content-area .contentSection .row.third .stepThree p {
              padding-left: 25%;
              padding-top: 20px; }
          .page-template-orientatiedag .site-content .content-area .contentSection .row.third h5 {
            -webkit-transform: skewY(-12deg);
                    transform: skewY(-12deg);
            font-family: "brite_scriptregular", sans-serif;
            text-transform: none; }
          .page-template-orientatiedag .site-content .content-area .contentSection .row.third .green {
            color: #00b1e7; }
          .page-template-orientatiedag .site-content .content-area .contentSection .row.third .pink {
            color: #f5981d; }
          .page-template-orientatiedag .site-content .content-area .contentSection .row.third .blue {
            color: #e94a3a; }
        .page-template-orientatiedag .site-content .content-area .contentSection .row.four {
          margin-top: 100px; }
          .page-template-orientatiedag .site-content .content-area .contentSection .row.four .intro {
            width: 49.0196078431%;
            float: left;
            margin-right: 1.9607843137%; }
          .page-template-orientatiedag .site-content .content-area .contentSection .row.four .rigthImage {
            width: 49.0196078431%;
            float: right;
            margin-right: 0;
            text-align: center; }
            .page-template-orientatiedag .site-content .content-area .contentSection .row.four .rigthImage img {
              max-height: 200px; }
          .page-template-orientatiedag .site-content .content-area .contentSection .row.four .fotoBlok {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            justify-items: stretch;
            clear: both; }
            .page-template-orientatiedag .site-content .content-area .contentSection .row.four .fotoBlok div {
              width: 32%;
              height: 200px;
              background-color: #908e8e;
              margin-bottom: 2%; }
              @media screen and (max-width: 768px) {
                .page-template-orientatiedag .site-content .content-area .contentSection .row.four .fotoBlok div {
                  width: 32%;
                  margin-bottom: 2%; }
                  .page-template-orientatiedag .site-content .content-area .contentSection .row.four .fotoBlok div.blockSeven, .page-template-orientatiedag .site-content .content-area .contentSection .row.four .fotoBlok div.blockEight {
                    display: none; } }
              @media screen and (max-width: 550px) {
                .page-template-orientatiedag .site-content .content-area .contentSection .row.four .fotoBlok div {
                  width: 49%;
                  margin-bottom: 2%; }
                  .page-template-orientatiedag .site-content .content-area .contentSection .row.four .fotoBlok div.blockSeven, .page-template-orientatiedag .site-content .content-area .contentSection .row.four .fotoBlok div.blockEight {
                    display: none; } }
              .page-template-orientatiedag .site-content .content-area .contentSection .row.four .fotoBlok div.blockOne {
                background: url("./images/impressie/image1.jpg") no-repeat center center; }
              .page-template-orientatiedag .site-content .content-area .contentSection .row.four .fotoBlok div.blockTwo {
                background: url("./images/impressie/image2.jpg") no-repeat center center; }
              .page-template-orientatiedag .site-content .content-area .contentSection .row.four .fotoBlok div.blockThree {
                background: url("./images/impressie/image3.jpg") no-repeat center center; }
              .page-template-orientatiedag .site-content .content-area .contentSection .row.four .fotoBlok div.blockFour {
                background: url("./images/impressie/image4.jpg") no-repeat center center; }
              .page-template-orientatiedag .site-content .content-area .contentSection .row.four .fotoBlok div.blockFive {
                background: url("./images/impressie/image5.jpg") no-repeat center center; }
              .page-template-orientatiedag .site-content .content-area .contentSection .row.four .fotoBlok div.blockSix {
                background: url("./images/impressie/image6.jpg") no-repeat center center; }

/*--------------------------------------------------------------
# Bedankpagina
--------------------------------------------------------------*/
.page-template-bedank {
  position: relative; }
  .page-template-bedank .site-content {
    background: url("./images/headers/bedankheader.jpg") no-repeat center -180px;
    background-size: 100%;
    padding-bottom: 108px; }
    .page-template-bedank .site-content .content-area {
      margin-top: 0px;
      text-align: center; }
      .page-template-bedank .site-content .content-area img {
        max-width: 60%; }
      .page-template-bedank .site-content .content-area h1 {
        text-align: center;
        color: #000000; }
        .page-template-bedank .site-content .content-area h1 .homepageTitle {
          display: block;
          color: #f5981d;
          padding-top: 20px; }
          .page-template-bedank .site-content .content-area h1 .homepageTitle strong {
            color: #f5981d; }
      .page-template-bedank .site-content .content-area .topContent {
        width: 100%; }
        .page-template-bedank .site-content .content-area .topContent a.btn {
          color: #f5981d !important; }
          .page-template-bedank .site-content .content-area .topContent a.btn:hover {
            color: #ffffff !important;
            background: #f5981d; }

/*--------------------------------------------------------------
# game pagina
--------------------------------------------------------------*/
.page-template-game .site-content {
  position: relative; }
  .page-template-game .site-content article h1 {
    color: #a7c949; }
  .page-template-game .site-content article h3 {
    color: rgba(0, 0, 0, 0.5); }
  .page-template-game .site-content article p {
    color: #000000; }
  .page-template-game .site-content .contentSection {
    margin-top: 50px;
    margin-bottom: 140px; }
    .page-template-game .site-content .contentSection a.btn {
      margin: 20px 0px 40px 0px; }
  .page-template-game .site-content .contentItems {
    margin-top: 20px; }

.webgl-content {
  position: relative !important;
  top: auto !important;
  left: auto !important;
  -webkit-transform: none !important;
  transform: none !important;
  margin-bottom: 35px !important; }

/*--------------------------------------------------------------
# contactpagina
--------------------------------------------------------------*/
.page-template-contact .site-content {
  background: url("./images/headers/contactheader.png") no-repeat center -70px;
  background-size: 100%; }
  @media screen and (max-width: 960px) {
    .page-template-contact .site-content {
      background: url("./images/headers/contactheader.png") no-repeat center -135px; } }
  @media screen and (max-width: 768px) {
    .page-template-contact .site-content {
      background: url("./images/headers/contactheader.png") no-repeat center -150px; } }
  .page-template-contact .site-content article h1 {
    color: #ffffff; }
  .page-template-contact .site-content article h3 {
    color: rgba(0, 0, 0, 0.5); }
  .page-template-contact .site-content article p {
    color: #ffffff; }
  .page-template-contact .site-content .contentSection {
    margin-top: 70px; }
    .page-template-contact .site-content .contentSection .gform_wrapper {
      width: 75%;
      margin-left: auto;
      margin-right: auto; }
      @media screen and (max-width: 960px) {
        .page-template-contact .site-content .contentSection .gform_wrapper {
          width: 80%; } }
      @media screen and (max-width: 768px) {
        .page-template-contact .site-content .contentSection .gform_wrapper {
          width: 80%; } }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  background: #333333;
  color: #ffffff;
  position: relative; }
  .site-footer .menu li a {
    color: #ffffff; }
  .site-footer .footerFirstRow {
    padding-top: 10px;
    padding-bottom: 10px; }
    .site-footer .footerFirstRow:after {
      content: "";
      clear: both;
      display: block; }
    .site-footer .footerFirstRow .footerLogo {
      width: 32.0261437908%;
      float: left;
      margin-right: 1.9607843137%; }
      @media screen and (max-width: 500px) {
        .site-footer .footerFirstRow .footerLogo {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0;
          text-align: center; } }
      .site-footer .footerFirstRow .footerLogo a {
        height: 115px;
        margin-top: -49px;
        width: 180px;
        display: inline-block; }
        .site-footer .footerFirstRow .footerLogo a img {
          max-height: 100%; }
        @media screen and (max-width: 768px) {
          .site-footer .footerFirstRow .footerLogo a {
            margin-top: 0px; } }
    .site-footer .footerFirstRow .logosScholen {
      width: 66.0130718954%;
      float: right;
      margin-right: 0;
      text-align: right;
      padding: 7px 0px 0px 0px; }
      @media screen and (max-width: 500px) {
        .site-footer .footerFirstRow .logosScholen {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0;
          text-align: center;
          padding: 40px 0px 0px 0px; } }
      .site-footer .footerFirstRow .logosScholen img {
        width: 50%; }
        @media screen and (max-width: 768px) {
          .site-footer .footerFirstRow .logosScholen img {
            width: 75%; } }
  .site-footer .footerSecondRow {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #b2b2b2; }
    .site-footer .footerSecondRow:after {
      content: "";
      clear: both;
      display: block; }
    .site-footer .footerSecondRow .footerMenu {
      width: 66.0130718954%;
      float: left;
      margin-right: 1.9607843137%;
      text-align: left;
      font-size: 12px;
      line-height: 1.5; }
      @media screen and (max-width: 993px) {
        .site-footer .footerSecondRow .footerMenu {
          font-size: 11px; } }
      @media screen and (max-width: 769px) {
        .site-footer .footerSecondRow .footerMenu {
          font-size: 10px; } }
      @media screen and (max-width: 768px) {
        .site-footer .footerSecondRow .footerMenu {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0;
          text-align: center; } }
      .site-footer .footerSecondRow .footerMenu ul li {
        display: inline-block; }
        @media screen and (max-width: 500px) {
          .site-footer .footerSecondRow .footerMenu ul li {
            display: block;
            padding: 10px; } }
        .site-footer .footerSecondRow .footerMenu ul li a {
          color: #b2b2b2; }
          .site-footer .footerSecondRow .footerMenu ul li a:hover {
            color: #ffffff;
            border-bottom: 1px solid #ffffff; }
      .site-footer .footerSecondRow .footerMenu ul ul.sub-menu {
        display: none; }
    .site-footer .footerSecondRow .discMenu {
      width: 32.0261437908%;
      float: right;
      margin-right: 0;
      text-align: right; }
      @media screen and (max-width: 768px) {
        .site-footer .footerSecondRow .discMenu {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0;
          text-align: center; } }
      .site-footer .footerSecondRow .discMenu a {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.5;
        color: #b2b2b2;
        font-size: 13px; }
        @media screen and (max-width: 993px) {
          .site-footer .footerSecondRow .discMenu a {
            font-size: 11px; } }
        @media screen and (max-width: 769px) {
          .site-footer .footerSecondRow .discMenu a {
            font-size: 10px; } }
        .site-footer .footerSecondRow .discMenu a:hover {
          color: #ffffff;
          border-bottom: 1px solid #ffffff; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em; }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa; }

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111; }

select {
  border: 1px solid #ccc; }

textarea {
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue; }

a:visited {
  color: purple; }

a:hover, a:focus, a:active {
  color: midnightblue; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }

.widget select {
  max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-content,
.entry-content,
.entry-summary {
  margin: 0 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
# Shiftnav Menu
--------------------------------------------------------------*/
span.menuTitle {
  color: #ffffff;
  font-size: 20px;
  padding-top: 11px;
  padding-left: 26px;
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
  background: #00b1e7;
  border-bottom: 1px solid #24aae4; }

.shiftnav .shiftnav-panel-close {
  background: transparent !important; }
  .shiftnav .shiftnav-panel-close i {
    color: #ffffff !important;
    font-size: 17px !important; }

.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.current-menu-item > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-accordion.current-menu-ancestor > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-shift.current-menu-ancestor > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item ul.sub-menu .current-menu-item .shiftnav-target {
  background: #00b1e7; }

.shiftnav {
  font-size: 24px;
  line-height: 1;
  background: #00b1e7 !important;
  padding: 20px 0px; }
  @media screen and (max-width: 993px) {
    .shiftnav {
      font-size: 22px; } }
  @media screen and (max-width: 769px) {
    .shiftnav {
      font-size: 19px; } }
  .shiftnav ul.shiftnav-menu {
    font-weight: 700;
    padding: 20px 0px !important; }
    .shiftnav ul.shiftnav-menu li.menu-item {
      padding-bottom: 12px !important; }
      .shiftnav ul.shiftnav-menu li.menu-item span.shiftnav-submenu-activation {
        background: transparent !important;
        color: #ffffff !important; }
      .shiftnav ul.shiftnav-menu li.menu-item ul.sub-menu {
        background: transparent;
        margin-bottom: 15px; }
        .shiftnav ul.shiftnav-menu li.menu-item ul.sub-menu li {
          padding: 0px 0px 0px 0px !important; }
          .shiftnav ul.shiftnav-menu li.menu-item ul.sub-menu li a {
            opacity: 0.75;
            font-weight: 500 !important;
            padding-left: 45px !important; }
      .shiftnav ul.shiftnav-menu li.menu-item a {
        font-size: 18px !important;
        font-weight: 700 !important;
        color: white !important; }
        .shiftnav ul.shiftnav-menu li.menu-item a:hover {
          background: rgba(41, 41, 41, 0.1); }
  .shiftnav:after {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3) !important; }

.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.shiftnav-active > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.shiftnav-in-transition > .shiftnav-target {
  background: #009dce !important; }

.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.current-menu-item > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-accordion.current-menu-ancestor > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-shift.current-menu-ancestor > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item ul.sub-menu .current-menu-item .shiftnav-target {
  background: #008ab4 !important; }
  .shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.current-menu-item > .shiftnav-target a, .shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-accordion.current-menu-ancestor > .shiftnav-target a, .shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-shift.current-menu-ancestor > .shiftnav-target a, .shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item ul.sub-menu .current-menu-item .shiftnav-target a {
    opacity: 1; }

.shiftnav-site-title {
  display: none; }

.shiftnav ul.shiftnav-menu li.menu-item > .shiftnav-target {
  padding: 5px 25px !important; }
