#workshops input,
#workshops label {
  display: none; }

#workshops input.show {
  display: block; }

#workshops label.show {
  display: inline-block; }

.site-content .content-area .topContent {
  /*width: 100%;*/ }

/*#keuze-sidebar{
    width: 20%;
    float: left;
}*/
#keuze-sidebar input[type='checkbox'] + label {
  padding-left: 30px;
  background-image: url("../images/checkboxes.png");
  background-position: top left;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 18px;
  line-height: 17px;
  margin: 5px 0;
  display: inline-block;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }

#keuze-sidebar input[type='checkbox']:checked + label {
  background-position: bottom left; }

#workshops {
  background: #a9cde5; /* Old browsers */
background: -moz-linear-gradient(top, #a9cde5 0%, #d2dfe8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #a9cde5 0%,#d2dfe8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #a9cde5 0%,#d2dfe8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9cde5', endColorstr='#d2dfe8',GradientType=0 ); /* IE6-9 */
  padding: 70px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.inactive {
  opacity: 0.2;
  cursor: not-allowed !important; }

#workshops input[type='checkbox'],
#keuze-sidebar input[type='checkbox'] {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
          clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden; }

#workshops form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

#workshops form .mix {
  width: 49%;
  margin-bottom: 30px; }

@media screen and (max-width: 960px) {
  #workshops form .mix {
    width: 100%; }
  #workshops form .mix label,
  #workshops form .mix label .skew {
    /* IE 9 */
    -webkit-transform: skewX(0deg);
    /* Safari */
    transform: skewX(0deg);
    /* Standard syntax */ } }

#workshops label {
  display: inline-block;
  /*width: 320px;*/
  /*height: 220px;*/
  margin: 12px;
  background-color: #fff;
  /* IE 9 */
  -webkit-transform: skewX(-5deg);
  /* Safari */
  transform: skewX(-5deg);
  /* Standard syntax */
  border-left: 10px solid #aba9a9;
  height: 100%; }

#workshops label:hover {
  cursor: pointer; }

#workshops label.inactive:hover .skew,
#workshops label .skew {
  /* IE 9 */
  -webkit-transform: skewX(5deg);
  /* Safari */
  transform: skewX(5deg);
  /* Standard syntax */
  padding: 30px 30px 35px 35px;
  background-repeat: no-repeat;
  background-position: top 10px right 15px;
  background-image: url("../images/workshop-icon-unchecked.png"); }

#workshops label:hover,
#workshops input[type='checkbox']:checked + label {
  border-left: 10px solid #f5981d;
  opacity: 1; }

#workshops label:hover .skew,
#workshops input[type='checkbox']:checked + label .skew {
  background-image: url("../images/workshop-icon-checked.png"); }

#workshops label.inactive:hover {
  border-left: 10px solid #aba9a9 !important;
  opacity: 0.2; }

#workshops label h4 {
  /* Style for "Food Marke" */
  color: #f5981d;
  font-family: Lato;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  /* Text style for "Food Marke" */
  letter-spacing: 0.32px; }

#workshops label p {
  /* Style for "Ontwikkel" */
  color: #575756;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.6px;
  /* Text style for "Ontwikkel" */
  letter-spacing: 0.32px; }

#workshop_submitbar {
  width: 100%;
  display: block;
  position: fixed;
  background: #fff;
  z-index: 15;
  padding: 20px;
  bottom: -100px;
  left: 0;
  opacity: 0; 
  box-shadow: 1px 1px 20px -3px #777777;}

#workshop_submitbar.visible {
  opacity: 1;
  bottom: 0;
  /*transition: All 1s ease;*/
  /*-webkit-transition: All 1s ease;*/
  /*-moz-transition: All 1s ease;*/
  /*-o-transition: All 1s ease;*/ }
